#face {
    background-color: #f3f3f3;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 12px solid red;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

#minutes, #hours, #seconds, .numRodPos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top center;
}

#seconds {
    background-color: red;
    height: 130px;
    width: 2px;
    transform: rotate(180deg);
}

#hours {
    background-color: black;
    height: 100px;
    width: 8px;
    transform: rotate(125deg);
}

#minutes {
    background-color: grey;
    height: 120px;
    width: 4px;
    transform: rotate(255deg);
}

.numRod{
    height: 1px;
    width: 125px;
    background-color: blue;
    display: inline-block;
}

.numRod2{
    height: 1px;
    width: 110px;
    background-color: blue;
    display: inline-block;
}


.num{
    display: inline-block;
    font-size: 24pt;
    margin: 0px;
}

.numRodPos{
    margin-top: -7.5%;
    transform-origin: center left;
}

#rod6{
    transform: rotate(90deg);
}
#num6{
    transform: rotate(270deg);
}

#rod9{
    transform: rotate(180deg);
}
#num9{
    transform: rotate(180deg);
}

#rod12{
    transform: rotate(270deg);
}
#num12{
    transform: rotate(90deg);
}


