#face {
    background-color: #f3f3f3;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    border: 12px solid blue;
    position: relative;
    margin: auto;
    margin-top: 100px;
}

#minutes, #hours, #seconds, .numRodPos{
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top center;
}

#seconds {
    background-color: red;
    height: 130px;
    width: 2px;
    transform: rotate(180deg);
}

#hours {
    background-color: black;
    height: 100px;
    width: 8px;
    transform: rotate(125deg);
}

#minutes {
    background-color: grey;
    height: 120px;
    width: 4px;
    transform: rotate(255deg);
}

.numRod{
    height: 1px;
    width: 125px;
    /* background-color: blue; */
    display: inline-block;
}

.numRod2{
    height: 1px;
    width: 110px;
    /* background-color: blue; */
    display: inline-block;
}

.nimRod3{
    width: 120px;
}


.num{
    display: inline-block;
    font-size: 24pt;
    margin: 0px;
}

.numRodPos{
    margin-top: -7.5%;
    transform-origin: center left;
}

#rod1{
    transform: rotate(300deg);
}
#num1{
    transform: rotate(60deg);
}

#rod2{
    transform: rotate(330deg);
}
#num2{
    transform: rotate(30deg);
}

#rod4{
    transform: rotate(30deg);
}
#num4{
    transform: rotate(330deg);
}

#rod5{
    transform: rotate(60deg);
}
#num5{
    transform: rotate(300deg);
}

#rod6{
    transform: rotate(90deg);
}
#num6{
    transform: rotate(270deg);
}

#rod7{
    transform: rotate(120deg);
}
#num7{
    transform: rotate(240deg);
}

#rod8{
    transform: rotate(150deg);
}
#num8{
    transform: rotate(210deg);
}

#rod9{
    transform: rotate(180deg);
}
#num9{
    transform: rotate(180deg);
}

#rod10{
    transform: rotate(210deg);
}
#num10{
    transform: rotate(150deg);
}

#rod11{
    transform: rotate(240deg);
}
#num11{
    transform: rotate(120deg);
}

#rod12{
    transform: rotate(270deg);
}
#num12{
    transform: rotate(90deg);
}


